# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include countem CHANGES README.* TODO MANIFEST.in
include group* make* nacl* permit* restrict* rtb* subnets update*
include vmInit vmKill vmLaunch vmList vmScrub vmUpdate vmVerify
recursive-include vmmgr *.py
global-exclude junk* .*swp 
prune   .svn


